*.cmi
*.cmo
*.cmx
*.o
a.out
*~
*.native
_build/
/docs/tmp.*
/tmp/
tmp/
/tjr_simple_earley.install
/bin/.merlin
/src/.merlin
.dockerfile/tjr_simple_earley/
/src/earley_spec.ml.html
/tjr_simple_earley_examples.install
